<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945114334625-39ot4s49lkjia50dm8t5us87s69nj7lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945114334625-39ot4s49lkjia50dm8t5us87s69nj7lo</string>
	<key>API_KEY</key>
	<string>AIzaSyADxSgxlZPm25lk_mDpKM3K47NzZ2qbuNk</string>
	<key>GCM_SENDER_ID</key>
	<string>945114334625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.roughgears.learn.designcode.ios15.SwiftUICombineAndData</string>
	<key>PROJECT_ID</key>
	<string>swiftui-combine-863b3</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-combine-863b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945114334625:ios:63c311b6c76be16f6eb7e0</string>
</dict>
</plist>